@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Itim&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    --text-color: black;
    font-family: 'Caveat', sans-serif;
    scroll-behavior: smooth;
    color: var(--text-color);
}

.container {
    max-width: 1500px;
    margin: auto;
}

img {
    display: block;
    width: 100%;
}

.hamburger {
    position: absolute;
    z-index: 100;
    top: 1rem;
    right: 1rem;
    padding: 4px;
    border: rgb(14, 155, 221) solid 2px;
    background: rgb(60, 83, 94);
    cursor: pointer;
    color: antiquewhite;
    border-radius: 5px;
}

.closeIcon {
    display: none;
}

.menu {
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.2s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: black;
    color: white;
    list-style: none;
    padding-top: 4rem;
    padding-left: 20px;
}

.showMenu {
    transform: translateY(0);
}