.contact__area {
    display: flex;
    flex-direction: row;
    background-image: url(../images/two-frenchies.jpeg);
    background-size: cover;
    background-attachment: fixed;
    height: 60vh;
}
.contact__area-form {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    justify-content: center;
    padding: 10px;
    background-color: rgba(25, 25, 194, 0.47);
    color: rgb(212, 200, 185);
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
}

.contact__area-title {

}
.contact__area-text {
display: flex;
flex-direction: column;
justify-content: center;
color: aqua;
align-content: flex-start;

}
@media (min-width: 7680px) {
    .contact__area {
        display: flex;
        flex-direction: row;
        flex: 1;
        align-items: center;
    }
    .contact__area-title {
        align-self: flex-start;
        flex: 1;
    }

    .contact__area-text {
        flex: 1;
        justify-content: flex-start ;
    }
    .contact__area-form {
        display: flex;
        flex-direction: column;
        flex: 1;
        align-items: center;
        justify-content: center;
        padding: 50px;
        max-height: 70vw;
        padding-right: 10px;
        
    }
    input,
    textarea,
    button {
        width: 200px;
        height: 40px;
    }
}